/* restyle radio items */
.btn-group .form-check {
    padding-left: 0;
    border-radius : 2px;
}

.btn-group .form-check .form-check-label {
    padding : 3px;
    margin: 2px;
}

.btn-group {
    flex-wrap: wrap;
}

.row {
    margin: 0;
    padding-left: calc(-.5 * var(--bs-gutter-x));
    padding-right: calc(-.5 * var(--bs-gutter-x));
}